body {
    margin: 0;
    padding: 10px;
    background-color: #f8f8f8;
    color: #373737;
    min-width: 245px;
    overflow-x: hidden;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-shadow: 0 1px 1px #fff;
    font-size: 18px;
}

h1, h2, h3 {
    margin: 0
}

a:hover, a:focus {
    text-decoration: underline;
    color: #666
}

a, a:visited, a:active {
    color: #999;
    text-decoration: none
}

#focus-stealer {
    position: absolute;
    left: -900px;
    top: 0;
    width: 1px;
    height: 1px
}

.hidden {
    display: none !important
}

hr {
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    margin: 20px 0
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

span.separator {
    display: inline-block;
    margin: 0 5px
}

.header {
    margin-top: 20px
}

.logo {
    margin-right: 20px
}

.btn {
    color: #696969;
    text-decoration: none
}

.container {
    margin: 0 auto;
    width: 600px;
    position: relative
}

h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 48px
}

.footer {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}

label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px
}

small {
    color: #666;
    padding-left: 5px;
    font-size: 12px
}

#status-message {
    display: none;
    width: 82%;
    left: 108px;
    margin-top: -4px;
    position: absolute
}

.alert {
    color: #468847;
    background-color: #dff0d8;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 14px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

.alert .help-block {
    margin-left: 13em;
    margin-top: 0;
}

.alert .help-block.flush-left {
    margin-left: 0;
}

.alert .help-block.flush-left > small {
    padding-left: 0
}

fieldset {
    border: none;
    padding: 0;
    margin: 6px 0
}

.help-block {
    font-size: 12px
}

legend {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-style: italic
}

input[type="text"] {
    padding: 3px;
}

textarea {
    padding: 5px 15px;
    width: 100%;
    height: 200px;
}

input[type="text"],
textarea {
    color: #666;
    border: 1px solid #CCC;
    border-bottom-width: 3px;
    outline: 0;
    box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #1794ce;
}

.class-name,
input[type="text"]:focus,
input[type="text"]:hover,
textarea:focus,
textarea:hover {
    color: #1794ce;
}

input[type="text"].invalid:focus,
textarea.invalid:hover {
    border-color: #F65051;
    color: #F65051;
}

input[type="button"],
input[type='range'] {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    height: 2.5em;
    line-height: 2.5em;
    background: #1794ce;
    outline: none;
    border: 1px solid #137aaa;
    border-bottom-width: 2px;
    border-radius: .2em;
    font-family: 'Open Sans', Arial, serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

input[type="button"] {
    height: 2.75em;
    transition: background .2s, border-color .2s;
}

input[type="button"]:hover {
    background: #39B0DC;
}

input[type="button"]:active {
    background: #116f9a;
    border-color: #0e658c;
    box-shadow: inset 0 2px 20px #0c5374
}

input[type="button"].danger {
    background: #C0C0C0;
    border-color: #a2a2a2;
}

input[type="button"].danger:hover {
    background: #F65051;
    border-color: #A12327;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label span,
input[type="checkbox"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="radio"] + label {
    cursor: pointer;
}

input[type="radio"] + label span {
    margin-left: 10px;
    background: url("../img/radio.png") left top no-repeat;
}

input[type="radio"] + label span:hover {
    background: url("../img/radio.png") -18px top no-repeat
}

input[type="radio"]:checked + label span {
    background: url("../img/radio.png") -36px top no-repeat
}

input[type="checkbox"] + label span {
    background: url("../img/checkbox.png") left top no-repeat;
}

input[type="checkbox"] + label span:hover {
    background: url("../img/checkbox.png") -18px top no-repeat
}

input[type="checkbox"]:checked + label span {
    background: url("../img/checkbox.png") -36px top no-repeat
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #fff;
    border-color: #ccc;
    padding: 0;
    height: 10px;
}

input[type='range']:hover,
input[type='range']:focus {
    border-color: #1794ce
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #1794ce;
    height: 12px;
    width: 3px
}