{
  "extends": "xo",
  "rules": {
    "no-unused-vars": "warn",
    "space-before-function-paren": "off",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }]
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "chrome": true
  }
}
