@import '~normalize.css';
@import '~simple-color-picker/src/simple-color-picker.css';

body {
    margin: 0;
    padding: 10px;
    background-color: #f8f8f8;
    color: #373737;
    min-width: 245px;
    overflow-x: hidden;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-shadow: 0 1px 1px #fff;
    font-size: 18px;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 48px;
}

a {
    color: #999;
    text-decoration: none;

    &:visited,
    &:active {
        color: #999;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
        color: #666;
    }
}

#focus-stealer {
    position: absolute;
    left: -900px;
    top: 0;
    width: 1px;
    height: 1px;
}

.hidden {
    display: none !important;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

span.separator {
    display: inline-block;
    margin: 0 5px;
}

.header {
    margin-top: 20px;
}

.logo {
    margin-right: 20px;
}

.btn {
    color: #696969;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 600px;
    position: relative;
}

.footer {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}

label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

small {
    color: #666;
    padding-left: 5px;
    font-size: 12px;
}

#status-message {
    opacity: 0;
    width: 82%;
    left: 108px;
    margin-top: -4px;
    position: absolute;
    transition: opacity 0.4s linear;

    &.visible {
        opacity: 1;
    }
}

.alert {
    color: #468847;
    background-color: #dff0d8;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 14px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #d6e9c6;
    border-radius: 4px;

    .help-block {
        margin-left: 13em;
        margin-top: 0;

        &.flush-left {
            margin-left: 0;

            > small {
                padding-left: 0;
            }
        }
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 6px 0;
}

.help-block {
    font-size: 12px;
}

legend {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-style: italic;
}

input[type='text'] {
    padding: 3px;
}

textarea {
    padding: 5px 15px;
    width: 100%;
    height: 200px;
}

input[type='text'],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-bottom-width: 3px;
    outline: 0;
    box-sizing: border-box;
}

input[type='text']:focus,
textarea:focus {
    border-color: #1794ce;
}

.class-name {
    color: #1794ce;
}

input[type='text'] {
    &:focus,
    &:hover {
        color: #1794ce;
    }
}

textarea {
    &:focus,
    &:hover {
        color: #1794ce;
    }
}

input[type='text'].invalid:focus,
textarea.invalid:hover {
    border-color: #f65051;
    color: #f65051;
}

input {
    &[type='button'],
    &[type='range'] {
        display: inline-block;
        margin: 0;
        padding: 0 1em;
        height: 2.5em;
        line-height: 2.5em;
        background: #1794ce;
        outline: none;
        border: 1px solid #137aaa;
        border-bottom-width: 2px;
        border-radius: 0.2em;
        font-family: 'Open Sans', Arial, serif;
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    &[type='button'] {
        height: 2.75em;
        transition: background 0.2s, border-color 0.2s;

        &:hover {
            background: #39b0dc;
        }

        &:active {
            background: #116f9a;
            border-color: #0e658c;
            box-shadow: inset 0 2px 20px #0c5374;
        }

        &.danger {
            background: #c0c0c0;
            border-color: #a2a2a2;

            &:hover {
                background: #f65051;
                border-color: #a12327;
            }
        }
    }

    &[type='radio'],
    &[type='checkbox'] {
        display: none;
    }

    &[type='radio'] + label span,
    &[type='checkbox'] + label span {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
    }

    &[type='radio'] {
        + label {
            cursor: pointer;

            span {
                margin-left: 10px;
                background: url('../img/radio.png') left top no-repeat;

                &:hover {
                    background: url('../img/radio.png') -18px top no-repeat;
                }
            }
        }

        &:checked + label span {
            background: url('../img/radio.png') -36px top no-repeat;
        }
    }

    &[type='checkbox'] {
        + label span {
            background: url('../img/checkbox.png') left top no-repeat;

            &:hover {
                background: url('../img/checkbox.png') -18px top no-repeat;
            }
        }

        &:checked + label span {
            background: url('../img/checkbox.png') -36px top no-repeat;
        }
    }

    &[type='range'] {
        -webkit-appearance: none !important;
        background: #fff;
        border-color: #ccc;
        padding: 0;
        height: 10px;

        &:hover,
        &:focus {
            border-color: #1794ce;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            background: #1794ce;
            height: 12px;
            width: 3px;
        }
    }
}
