name: Continous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build using Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14 ]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up environment
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Build with Node
      run: npm run build:prod
  test:
    name: Test using Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14 ]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up environment
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Lint with ESLint
      run: npm run lint:scripts
    - name: Lint with StyleLint
      run: npm run lint:styles
    - name: Test with Node
      run: npm run test:unit
    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@v1
